.titleText {
  align-items:center;
  justify-content:center;
  display:flex;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight:bold;
  margin-top: 1%;
}

/*Options menu*/


.options_container_wrapper{
  display:block;
  justify-content: center;
  align-items:center;

}



.options-wrapper {
  display:flex;
  justify-content:center;
  margin-top: 2%;
}

.options_menu {
  justify-content:center;
  border: 5px solid black;
  border-radius:5px;
  height: 75px;
  width: 575px;
  display:flex;


  
}

.options_menu_children {
  display:flex;
  align-items:center;
  gap: 40px;
  
}

button{
  background-color:#d3d3d3;
  border:none;
  color:black;
  font-weight:bold;
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 15px;
  text-align:center;
  cursor:pointer;
}

button:hover {
  background-color:#4d4d4d;
}

button:active {
  background-color:#4d4d4d;
  transform:translateY(4px);
}

.rgb_button_animated{
  background: linear-gradient(270deg, #ff0000, #ffcd00, #23ff00, #00f2ff, #003eff, #af00ff, #ff009b);
  background-size: 1400% 1400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip:text;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


/*Slider START*/

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4d4d4d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

/*Slider END*/



/*Color picker*/
.color_picker {
  overflow:hidden;
  background-color:inherit;
  padding: 0;
  border: none;
  box-shadow:none;
  border-radius: 50%;
  display:inline-block;
  width: 5rem;
  height: 5rem;
}


/*the nitty griddy stuff*/


.around-container {
  display:flex;
  justify-content:center;
  margin-top: 2%;
}

.container {
  display: inline-grid;
  grid-template-columns: repeat(16,2fr);
  grid-template-rows: repeat(16,2fr);
  border: 5px solid black;
  border-radius: 5px;
  height: 575px;
  width: 575px;
}


.box {
  background-color: white;
  border: 1px solid black;
}

